.files-uploader {
    &__choose-image-message {
        font-size: 1.4rem;
    }

    &__files {
        margin: 0.8rem 0;
    }

    &__preview {
        font-size: 1.4rem;
        margin-top: 0.5rem;
    }
}