<div class="avatar" (click)="openMenu()">
  @if (src(); as src) {
    <img [src]="src" alt="AvatarComponent of user" />
  }

  @if (isOpenMenu()) {
    <div class="avatar__menu" (mouseleave)="closeMenu()">
      <ul>
        @if (role() === 'ADMIN') {
          <li>
            <a routerLink="/products/new">Creator of product</a>
          </li>

          <li>
            <a routerLink="/users">Users</a>
          </li>
        }

        <li>
          <button (click)="logout.emit()" type="button">Log out</button>
        </li>
      </ul>
    </div>
  }
</div>
