@use 'assets/colors' as colors;

.avatar {
  position: relative;
  border-radius: 50%;
  background-color: colors.$gray-2;
  width: 3rem;
  height: 3rem;

  &__menu {
    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 2;
    box-shadow: 0 0.5rem 1rem 0 colors.$gray-2;
    background-color: colors.$white;
    min-width: 15rem;
    overflow: auto;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        cursor: pointer;
        padding: 1.2rem 1.6rem;
        color: colors.$black;
        font-size: 1.4rem;
        text-decoration: none;

        &:hover {
          background-color: colors.$gray-1;
        }

        > a,
        > button {
          color: colors.$black;
          text-decoration: none;
        }

        > button {
          outline: none;
          border: none;
          background: none;
          padding: 0;
        }
      }
    }
  }
}
