<div (click)="openMenu()" class="avatar" role="button">
  @if (avatar(); as src) {
    <img [ngSrc]="src" alt="Avatar of user" fill />
  }

  @if (isOpenMenu()) {
    <div (mouseleave)="closeMenu()" class="avatar__menu">
      <ul>
        @if (role() === 'ADMIN') {
          <li>
            <a routerLink="/products/new">Creator of product</a>
          </li>

          <li>
            <a routerLink="/users">Users</a>
          </li>
        }

        <li>
          <button (click)="logout.emit()" type="button">Log out</button>
        </li>
      </ul>
    </div>
  }
</div>
