<main class="container">
  <header class="row new-product__header">
    <div class="col-md-6 col-sm-3 col-4 d-flex align-items-center">
      <app-button (callback)="goToDashboard()" type="button" variant="text">
        <img
          alt="Left arrow"
          height="30"
          ngSrc="/icons/left-arrow.svg"
          width="30"
        />
      </app-button>
    </div>

    <div class="col-md-6 col-sm-9 col-8 d-flex align-items-center">
      <h1>{{ 'newProduct.title' | transloco }}</h1>
    </div>
  </header>

  <section class="row">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12"
    >
      <div>
        <app-input
          [label]="'products.name' | transloco"
          [placeholder]="'products.enterName' | transloco"
          type="text"
          formControlName="name"
        />
      </div>

      <div class="mt-3">
        <app-input
          [label]="'products.code' | transloco"
          [placeholder]="'products.enterCode' | transloco"
          type="text"
          formControlName="code"
        />
      </div>

      <div class="mt-3">
        <app-textarea
          [label]="'products.description' | transloco"
          [placeholder]="'products.enterDescription' | transloco"
          name="description"
          formControlName="description"
        />
      </div>

      <div class="mt-3">
        <app-rich-text-editor
          [label]="'products.details' | transloco"
          [placeholder]="'products.enterDetails' | transloco"
          formControlName="details"
        />
      </div>

      <div class="mt-3">
        <app-input
          [label]="'products.price' | transloco"
          [placeholder]="'products.enterPrice' | transloco"
          type="number"
          formControlName="price"
          step=".01"
        />
      </div>

      <div class="mt-5">
        <app-files-uploader
          [chooseImageMessage]="'filesUploader.chooseImage' | transloco"
          [emptyMessage]="'filesUploader.noSelected' | transloco"
          [multiple]="true"
          [placeholder]="'filesUploader.selectFile' | transloco"
          (changeFiles)="onProductImagesChange($event)"
          name="productImages"
          accept=".avif, .jpg, .jpeg, .png"
        />
      </div>

      <div class="mt-5">
        <app-checkbox [label]="'promo' | transloco" formControlName="promo" />
      </div>

      <div class="mt-3">
        <app-checkbox [label]="'active' | transloco" formControlName="promo" />
      </div>

      <div class="mt-5">
        <app-button type="submit">
          {{ 'newProduct.create' | transloco }}
        </app-button>
      </div>
    </form>
  </section>
</main>
