<section aria-label="Product filters">
  <form [formGroup]="searchForm">
    <div>
      <app-search formControlName="phrase" placeholder="Search" />
    </div>

    <div class="pl-5">
      <app-checkbox formControlName="isActive" label="Active" />
    </div>

    <div>
      <app-checkbox formControlName="isPromo" label="Promo" />
    </div>
  </form>

  <div>
    @if (isAuthenticated()) {
      <app-avatar
        [avatar]="user()?.avatar ?? null"
        [role]="user()?.role ?? 'STANDARD'"
        (logout)="onLogout()"
      />
    } @else {
      <app-button (callback)="onLogin()" type="button" variant="secondary">
        Log in
      </app-button>
    }
  </div>
</section>

<main class="container-fluid">
  @if (loading()) {
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
      <app-spinner />
    </div>
  } @else {
    <div class="row">
      @for (product of products(); track product.id) {
        <div class="col-md-4 col-12 mt-md-4 mt-4 pl-4 pr-4">
          <app-product
            [confirmedRating]="product.rating"
            [description]="product.description ?? ''"
            [images]="product.images ?? []"
            [isAdmin]="user()?.role === 'ADMIN'"
            [isPromo]="product.isPromo ?? false"
            [name]="product.name ?? ''"
            (edit)="onEditProduct(product)"
            (remove)="onRemoveProduct(product.id)"
            (selectRates)="onSelectRates(product, $event)"
            (showDetails)="onShowDetails(product)"
          />
        </div>
      } @empty {
        <app-empty-state />
      }
    </div>
  }
</main>

<footer>
  <app-paginator
    [page]="pageable().page"
    [totalPages]="totalPages()"
    (pageChange)="onPageChange($event)"
  />
</footer>
