@use 'assets/colors' as colors;

section {
  background: colors.$white;
  display: flex;
  justify-content: space-between;
  padding: 3rem 5.5rem;

  > form {
    display: grid;
    grid-template-columns: minmax(0, 40rem) minmax(0, 10rem) minmax(0, 8rem);
    grid-column-gap: 3rem;
    min-width: 60%;

    > div:not(:first-of-type) {
      align-items: center;
      display: flex;
      justify-content: end;
    }

    > app-search {
      width: 100%;
    }
  }

  > div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

main,
footer {
  background: colors.$gray-1;
}

main {
  padding: 5rem 5.5rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
