@use 'assets/colors' as colors;

section {
  display: grid;
  grid-template-columns:
    minmax(0, 40rem) minmax(0, 8rem) minmax(0, 8rem)
    minmax(0, 1fr);
  background: colors.$white;
  grid-column-gap: 2rem;
  padding: 3rem 5.5rem;

  > div {
    display: flex;
    align-items: center;
    width: 100%;

    > app-search {
      width: 100%;
    }
  }
}

main {
  background: colors.$gray-1;
  padding: 5rem 5.5rem;
}
