<main class="container">
  @if (loading()) {
    <div>
      <app-spinner />
    </div>
  } @else {
    <div class="row">
      @for (product of products(); track product.id) {
        <div class="col-md-4 col-12 mt-4 mt-sm-2 mt-md-2">
          <app-product
            [confirmedRating]="0"
            [description]="product.description ?? ''"
            [images]="product.images ?? []"
            [isPromo]="product.isPromo ?? false"
            [name]="product.name ?? ''"
          />
        </div>
      } @empty {
        <app-empty-state />
      }
    </div>
  }
</main>
