@use 'assets/colors' as colors;

.textarea {
  color: colors.$black;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.8rem 0;
  width: 100%;

  > textarea {
    border: 0.1rem solid colors.$gray-2;
    border-radius: 0.8rem;
    color: colors.$gray-4;
    font-weight: 500;
    margin-top: 0.8rem;
    max-height: 15rem;
    min-height: 10rem;
    padding: 1.6rem;
    resize: vertical;
    width: 100%;
  }

  &__field--error {
    border: 0.1rem solid colors.$error;

    &::placeholder {
      color: colors.$error;
    }
  }

  &__label--error {
    color: colors.$error;
  }
}
