<main class="container register">
  <header class="register__header d-flex justify-content-center">
    <h1>{{ 'register.title' | transloco }}</h1>
  </header>

  <section
    class="register__content d-flex flex-column justify-content-center flex-grow-1"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <app-files-uploader
          [chooseImageMessage]="'filesUploader.chooseImage' | transloco"
          [emptyMessage]="'filesUploader.noSelected' | transloco"
          [name]="'avatar' | transloco"
          [placeholder]="'filesUploader.selectFile' | transloco"
          (changeFiles)="onFileChange($event)"
        />
      </div>

      <div class="mt-4">
        <app-input
          [label]="'username' | transloco"
          [placeholder]="'enterUsername' | transloco"
          formControlName="username"
        />
      </div>

      <div class="mt-4">
        <app-input
          [label]="'email' | transloco"
          [placeholder]="'register.enterEmail' | transloco"
          formControlName="email"
        />
      </div>

      <div class="mt-4">
        <app-input
          [label]="'password' | transloco"
          [placeholder]="'enterPassword' | transloco"
          type="password"
          formControlName="password"
        />
      </div>

      <div class="mt-4">
        <app-input
          [label]="'register.repeatPassword' | transloco"
          [placeholder]="'register.enterRepeatPassword' | transloco"
          type="password"
          formControlName="repeatPassword"
        />
      </div>

      <div class="mt-5 w-100">
        <app-button type="submit">
          {{ 'register.action' | transloco }}
        </app-button>
      </div>
    </form>

    <div class="register__link mt-5 mb-5">
      <a routerLink="/login"> {{ 'register.doYouHaveAccount' | transloco }} </a>
    </div>
  </section>
</main>
