<main class="container register">
  <header class="register__header">
    <h1>Register</h1>
  </header>

  <section class="register__content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <app-files-uploader name="Avatar" />
      </div>

      <div class="mt-4">
        <app-input
          formControlName="username"
          label="Username"
          placeholder="Enter username"
        />
      </div>

      <div class="mt-4">
        <app-input
          formControlName="email"
          label="E-mail"
          placeholder="Enter e-mail"
        />
      </div>

      <div class="mt-4">
        <app-input
          type="password"
          formControlName="password"
          label="Password"
          placeholder="Enter password"
        />
      </div>

      <div class="mt-4">
        <app-input
          type="password"
          formControlName="repeatPassword"
          label="Repeat password"
          placeholder="Repeat password"
        />
      </div>

      <div class="mt-5 w-100">
        <app-button type="submit"> Register </app-button>
      </div>
    </form>

    <div class="register__link mt-5 mb-5">
      <a routerLink="/login"> Do you have an account? </a>
    </div>
  </section>
</main>
