@import '../colors.scss';

.btn {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: $primary-color;
    color: $white;

    &:disabled {
        background-color: $gray-4;
    }
    
    &:hover {
        background-color: $secondary-color;
    }
}

.btn-secondary {
    background-color: $white;
    color: $primary-color;

    &:disabled {
        color: $gray-4;
    }

    &:hover {
        color: $secondary-color;
    }
}
