<div class="errors">
  @if (errors()?.['required']) {
    <span>{{ 'validations.required' | transloco }}</span>
  }

  @if (errors()?.['email']) {
    <span>{{ 'validations.email' | transloco }}</span>
  }

  @if (errors()?.['maxlength']) {
    <span>
      {{
        'validations.maxLength'
          | transloco
            : { requiredLength: errors()?.['maxlength'].requiredLength }
      }}
    </span>
  }

  @if (errors()?.['minlength']) {
    <span>
      {{
        'validations.minLength'
          | transloco
            : { requiredLength: errors()?.['minlength'].requiredLength }
      }}
    </span>
  }

  @if (errors()?.['passwordMismatch']) {
    <span>{{ 'validations.passwordsDoNotMatch' | transloco }}</span>
  }
</div>
