.product {
  &__content {
    > h1 {
      text-align: center;
    }

    > div {
      margin-top: 2rem;

      > h2 {
        margin-bottom: 1rem;
      }

      > p {
        font-size: 1.4rem;
        text-align: justify;
      }
    }
  }
}
