@use 'assets/colors' as colors;

.product {
  display: flex;
  flex-direction: column;
  background-color: colors.$white;
  padding: 0;
  height: 41rem;

  &__image {
    position: relative;
    height: 18rem;

    > img {
      object-fit: contain;
    }
  }

  &__promo {
    position: absolute;
    left: 0;
    background: colors.$orange;
    padding: 0.3rem 1.5rem;
    color: colors.$white;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

    > h4 {
      color: colors.$black;
      font-weight: 500;
      font-size: 1.8rem;
    }

    > p {
      margin: 0;
      color: colors.$gray-4;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    > button {
      border-radius: 0.4rem;
      background-color: colors.$app-primary-color;
      padding: 0.85rem;
      color: colors.$white;
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}
