<div *transloco="let t; prefix: 'dashboard.product'" class="product">
  <div class="product__image">
    @if (isPromo()) {
      <div class="product__promo">{{ 'promo' | transloco }}</div>
    }

    @if (images()[imageIndex()]?.path; as path) {
      <img [ngSrc]="path" (error)="onImageError($event)" alt="" fill />
    }
  </div>

  <div class="product__content">
    <h4>{{ name() }}</h4>

    <div [innerHTML]="description() | safeHtml"></div>

    <div>
      <div class="my-3">
        <app-rates
          [confirmedRating]="confirmedRating()"
          [ratingCount]="ratingCount()"
          (selectRates)="selectRates.emit($event)"
        />
      </div>

      <div class="mt-4">
        <app-button
          (callback)="showDetails.emit()"
          type="button"
          styleClass="py-3"
        >
          {{ t('showDetails') }}
        </app-button>
      </div>

      @if (isAdmin()) {
        <div class="mt-3 product__actions--admin">
          <div>
            <app-button
              (callback)="edit.emit()"
              type="button"
              styleClass="py-3"
              variant="secondary"
            >
              {{ t('editProduct') }}
            </app-button>
          </div>

          <div>
            <app-button
              (callback)="remove.emit()"
              type="button"
              styleClass="py-3"
              variant="secondary"
            >
              {{ t('removeProduct') }}
            </app-button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
