<div class="product">
  <div class="product__image">
    @if (isPromo()) {
      <div class="product__promo">Promo</div>
    }

    @if (images()[imageIndex()]?.path; as path) {
      <img [ngSrc]="path" (error)="onImageError($event)" alt="" fill />
    }
  </div>

  <div class="product__content">
    <h4>{{ name() }}</h4>

    <div [innerHTML]="description() | safeHtml"></div>

    <div>
      <div class="my-3">
        <app-rates
          [confirmedRating]="confirmedRating()"
          (selectRates)="selectRates.emit($event)"
        />
      </div>

      <app-button
        (callback)="showDetails.emit()"
        type="button"
        styleClass="py-3"
      >
        Show details
      </app-button>
    </div>
  </div>
</div>
