<div class="files-uploader">
  <p>
    {{ chooseImageMessage() }}
  </p>

  <button (click)="openFileDialog()" class="btn btn-secondary" type="button">
    {{ placeholder() }}
  </button>

  <input
    [accept]="accept()"
    [multiple]="multiple()"
    [name]="name()"
    (change)="onFileChange($event)"
    class="d-none"
    type="file"
    #fileInput
  />

  @if (files.length) {
    <div class="files-uploader__files">
      @for (file of files; track file.name) {
        <img [alt]="file.name" [src]="getPreviewUrl(file)" class="w-100" />

        <div class="d-flex justify-content-center">
          <app-button
            (callback)="onDelete($index)"
            type="button"
            variant="secondary"
          >
            Delete
          </app-button>
        </div>
      }
    </div>
  } @else {
    <div class="files-uploader__preview">
      <p>{{ emptyMessage() }}</p>
    </div>
  }
</div>
