<main class="container product">
  <header class="row product__header">
    <div class="col-md-6 col-sm-3 col-4 d-flex align-items-center">
      <app-button (callback)="goToDashboard()" type="button" variant="text">
        <img
          alt="Left arrow"
          height="30"
          ngSrc="/icons/left-arrow.svg"
          width="30"
        />
      </app-button>
    </div>

    <div class="col-md-6 col-sm-9 col-8 d-flex align-items-center">
      <h1>Details of product</h1>
    </div>
  </header>

  <section class="row product__content">
    <div class="col-md-6 col-sm-8 col-12 offset-sm-2 offset-md-3">
      @if (loading()) {
        <app-spinner />
      } @else {
        <h1>{{ product()?.name }}</h1>

        @if (image(); as image) {
          <div class="product__image my-5">
            <img
              [ngSrc]="image.path"
              (error)="onImageError($event)"
              alt=""
              fill
            />
          </div>
        }

        <div class="mt-4">
          <h2>Code</h2>

          <p class="mt-3">{{ product()?.code ?? 'Not assigned' }}</p>
        </div>

        <div class="mt-4">
          <h2>Description</h2>

          <div
            [innerHTML]="product()?.description | safeHtml"
            class="product__safe-html mt-3"
          ></div>
        </div>

        <div class="mt-4">
          <h2>Price</h2>

          <p class="mt-3">{{ product()?.price }} PLN</p>
        </div>

        <div class="mt-4">
          <h2>Your rating</h2>

          <p class="mt-3">{{ product()?.rating }} / 5</p>
        </div>

        <div class="mt-4">
          <h2>Average rating</h2>

          <p class="mt-3">{{ product()?.averageRating }} / 5</p>
        </div>
      }
    </div>
  </section>
</main>
