.product {
  &__header {
    h1 {
      text-align: center;
    }
  }

  &__content {
    > div {
      p,
      .product__safe-html {
        font-size: 1.4rem;
        text-align: justify;
      }
    }
  }

  &__image {
    height: 30rem;
    position: relative;

    > img {
      object-fit: cover;
    }
  }
}
