@use 'assets/colors' as colors;

.snackbar {
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 9999;
  box-shadow: 0 0.4rem 1.5rem rgb(0 0 0 / 15%);
  border-radius: 0.6rem;
  padding: 1.4rem 1.8rem;
  min-width: 30rem;

  &--success {
    background-color: colors.$success;
    color: colors.$white;
  }

  &--error {
    background-color: colors.$error;
    color: colors.$white;
  }

  &--warning {
    background-color: colors.$warning;
    color: colors.$black;
  }

  &--info {
    background-color: colors.$info;
    color: colors.$black;
  }

  &__message {
    font-size: 1.4rem;
  }

  &__close {
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
    color: inherit;
    font-size: 2rem;
    line-height: 1;
  }
}
