@if (snackbarService.snackbar(); as snackbar) {
  <div
    class="snackbar"
    [class.snackbar--error]="snackbar.type === 'error'"
    [class.snackbar--info]="snackbar.type === 'info'"
    [class.snackbar--success]="snackbar.type === 'success'"
    [class.snackbar--warning]="snackbar.type === 'warning'"
  >
    <span class="snackbar__message">
      {{ snackbar.message }}
    </span>

    <button
      class="snackbar__close"
      (click)="snackbarService.close()"
      aria-label="Close"
      type="button"
    >
      ×
    </button>
  </div>
}
