<main class="container login">
  <header>
    <h1>Login</h1>
  </header>

  <section>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <app-input label="Username" placeholder="Enter username" formControlName="username" />
      </div>

      <div class="mt-4">
        <app-input
          label="Password"
          placeholder="Enter password"
          type="password"
          formControlName="password"
        />
      </div>

      <div class="mt-5 w-100">
        <app-button type="submit"> Log in </app-button>
      </div>
    </form>

    <div class="login__link mt-5">
      <a routerLink="/register"> Do you want to register? </a>
    </div>

    <div class="login__link mt-5">
      <a routerLink="/forgot-password"> Forgot password? </a>
    </div>
  </section>
</main>
