@use 'assets/colors' as colors;

.empty-state {
  border-radius: 0.8rem;
  background-color: colors.$white;
  width: 100%;
  max-width: 60rem;
  height: 100%;
  max-height: 34rem;

  > img {
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__description {
    font-weight: 500;
    font-size: 1.4rem;
  }
}
