@use 'assets/colors' as colors;

:host {
  width: 100%;
}

button {
  outline: none;
  border: none;
  padding: 1.6rem;
  width: 100%;
  font-size: 1.4rem;

  &.primary {
    background-color: colors.$app-primary-color;
    color: colors.$white;

    &:disabled {
      background-color: colors.$gray-4;
    }

    &:not(:disabled):hover {
      background-color: colors.$app-secondary-color;
    }
  }

  &.secondary {
    background-color: colors.$white;
    color: colors.$app-primary-color;

    &:not(:disabled):disabled {
      color: colors.$gray-4;
    }

    &:hover {
      color: colors.$app-secondary-color;
    }
  }

  &.text {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    color: colors.$gray-4;
  }
}
