<main class="container users">
  <header class="users__header">
    <div>
      <app-button (callback)="goToDashboard()" type="button" variant="text">
        <img
          alt="Left arrow"
          height="30"
          ngSrc="/icons/left-arrow.svg"
          width="30"
        />
      </app-button>
    </div>

    <div>
      <h1>{{ 'users.title' | transloco }}</h1>
    </div>
  </header>

  <section class="users__table">
    @if (loading()) {
      <div
        class="users__spinner d-flex align-items-center justify-content-center h-100"
      >
        <app-spinner />
      </div>
    } @else {
      <table>
        <thead>
          <th>{{ 'avatar' | transloco }}</th>
          <th>{{ 'username' | transloco }}</th>
          <th>{{ 'email' | transloco }}</th>
          <th>{{ 'users.role' | transloco }}</th>
          <th>{{ 'users.createdDate' | transloco }}</th>
          <th>{{ 'users.updatedDate' | transloco }}</th>
          <th>{{ 'users.isActive' | transloco }}</th>
        </thead>

        <tbody>
          @for (user of users(); track user.id) {
            <tr>
              <td>
                <div class="users__avatar">
                  @if (user.avatar; as avatar) {
                    <img [ngSrc]="avatar" alt="Avatar of user" fill />
                  }
                </div>
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role | titlecase }}</td>
              <td>{{ user.createdDate | date: standardDate }}</td>
              <td>{{ user.updatedDate | date: standardDate }}</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <app-checkbox
                    [checked]="user.active"
                    [disabled]="user.username === currentUsername()"
                    (changeValue)="onChangeValue(user.id, $event)"
                  />
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </section>
</main>
