@use 'assets/colors' as colors;

.checkbox {
  align-self: center;
  display: grid;
  font-size: 1.4rem;
  gap: 0.5rem;
  margin: 0.8rem 0;
  width: 100%;

  &:has(label) {
    grid-template-columns: 3rem auto;
  }

  > input {
    height: 2.4rem;
    width: 2.4rem;
  }

  &:checked {
    accent-color: colors.$app-primary-color;
  }
}
