@use 'assets/colors' as colors;

.search-input {
  position: relative;

  input {
    border: 0.15rem solid colors.$gray-1;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.2rem;
    width: 100%;
  }

  &--empty {
    input {
      padding: 1.2rem 4rem 1.2rem 1.2rem;
    }
  }

  &__icon {
    height: 1.8rem;
    pointer-events: none;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
  }
}
