$app-primary-color: #4460f7;
$app-secondary-color: #2140e8;

$gray-1: #f0f1f5;
$gray-2: #e0e2ea;
$gray-3: #b9bdcf;
$gray-4: #9194a5;

$black: #1a1b1d;
$white: #ffffff;
$orange: #f9a52b;

// SnackbarComponent
$success: #198754;
$error: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
