.rates {
  > div {
    > button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
    }

    > span {
      font-size: 1.2rem;
    }

    .rates__item {
      filter: invert(0.7);

      &--filled {
        filter: invert(12%) sepia(139%) saturate(768%) hue-rotate(363deg)
          brightness(299%) contrast(176%);
      }
    }
  }
}
