.spinner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  > img {
    animation: rotate 1s linear infinite;
    height: 5rem;
    width: 5rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
